version: "3.9"

services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./apps/api
    ports:
      - "3001:3001"
    environment:
      - MONGO_URL=mongodb://mongo:27017/inventory_db
    depends_on:
      - mongo

  web:
    build: ./apps/web
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3001
    depends_on:
      - api

volumes:
  mongo_data:
