services:
  mongo:
    image: mongo:6
    container_name: inventory_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ./app/api
    container_name: inventory_api
    ports:
      - "4000:4000"
    env_file:
      - ./app/api/.env.docker
    depends_on:
      - mongo

  web:
    build:
      context: ./app/web
      args:
        NEXT_PUBLIC_API_URL: http://api:4000/api
    container_name: inventory_web
    ports:
      - "3000:3000"
    depends_on:
      - api

volumes:
  mongo_data:
